/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 1, 2023, 12:42:17 AM
    Author     : Admin
*/

.detail {
    padding: 136px 0;
}

.detail__wrap {
    display: flex;
    justify-content: space-between
}

.detail__img {
    width: 200%;
    margin-right: 50px;
}

.detail__content {
    margin-top: 30px;
}

.detail__name {

    font-size: 44px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 5px;
    word-spacing: -4px;
    margin: 0 0 15px;
    color: #000;
}

.detail__des {
    font-size: 19px;
    padding-bottom: 30px;
    border-bottom: 1px #b6b6b6 solid;
    color: #b6b6b6;
    line-height: 21px;
    font-size: 16px;
    margin-bottom: 60px;
}

.detail__price {
    display: block;
    font-size: 30px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    color: #000;
    text-align: left;
}

.addProduct{
    display: flex;
}

.addProduct .add_qty{
    display: flex;
}
.add_qty label{
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    margin-right: 10px;
}

.add_qty input{
    border-radius: 25px;
    width: 100px;
    margin-right: 30px;
}


.review{
    margin: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f0f0f0;
}

.review .add_review{
    display: flex;
}

.review .add_review label{
    width: 80px;
    font: 700 16px/20px "Source Sans Pro", sans-serif;
}

.review .add_review textarea{
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}

textarea:focus {
    
  caret-color: black; /* Màu của con trỏ nháy */
  padding: 10px 0 0 20px; /* Khoảng cách bên trái của con trỏ nháy */
}

.review .sub_review input{
    border: 1px solid #d1d1d1;
    background-color: #fff;
    margin: 0 0 0 80px;
    width: 110px;
}






.comment{
    font: 14px/20px "Montserrat", sans-serif;
    overflow: hidden;
    margin: 110px;
}

.comment .comment_n{
    margin: 30px;
}

.comment .comment_user{
    font: 700 16px/20px "Source Sans Pro", sans-serif;
    margin: 0 0 10px;
}

.comment .comment_text{
    margin: 0 0 47px;
    padding: 0 0 26px;
    border-bottom: 1px solid #f0f0f0;
}

